{% extends _layout %}

{% block content %}
	
	<form action="{{ site_url('users/login') }}" method="post" class="form">

		<div class="row">

			<div class="span5">
				<blockquote>
					<!-- Silakan login menggunakan akun UNISYS untuk memverifikasi bahwa anda adalah 
					alumni Jurusan Teknik Lingkungan UII. Bila menemui kesulitan, hubungi
					administrator. -->
				</blockquote>
			</div>

			<div class="span5">
				<h3>LOGIN</h3>
				<label>NIM</label>
				<input type="text" name="username" placeholder="Misal: 08523108" />

				<label>Password</label>
				<input type="password" name="password" placeholder="Password" />

				<div class="clearfix"></div>
				<input type="submit" value="Login Tracer Study" class="btn btn-primary">
				
				{{ anchor('users/register', 'Belum terdaftar?') }} 

			</div>

		</div>
		

	</form>


{% endblock %}