{% extends _layout %}

{% block content %}
	<h4>{{ user.name }}</h4>

	<div class="row">
		<div class="span10">
			<table class="table table-condensed">
				{% for key,value in user.get_bio(true) %}
				    <tr>
				    	<td>{{ key }}</td>
				    	<td>{{ value }}</td>
				    	<td></td>
				    </tr>
				{% endfor %}
			</table>
		</div>

		<div class="span2">
			{{ img(user.photo_url()) }}
		</div>
	</div>

{% endblock %}