	{% if question.meta().input_type == 'textarea' %}
		{% if question.answers().exists() %}
			<textarea class="span10" disabled="disabled">{{ question.answers().fill }}</textarea>
		{% else %}
			<textarea name="fill" class="span10"></textarea>
		{% endif %}    
	{% else %}
		{% if question.answers().exists() %}
			<input type="text" class="span5 disabled" disabled
				value="{{ question.answers().fill }}">
		{% else %}
			<input type="text" name="fill" class="span5"></input>
		{% endif %}
		<div class="clearfix"></div>
	{% endif %}
