	{% if question.meta().input_type == 'textarea' %}
		<textarea name="fill" class="span10"></textarea>
	{% else %}
		{% if question.answers().exists() %}
			<input type="text" class="span5 disabled" disabled
				value="{{ question.answers().fill }}">
		{% else %}
			<input type="text" name="fill" class="span5"></input>
		{% endif %}
		<div class="clearfix"></div>
	{% endif %}
