{% extends _layout %}

{% block content %}
	
	<table class="table table-striped">
	{% for question in group.questions().get() %}
	    <tr>
	    	<td>{{ question.order }}</td>
	    	<td>
	    		{% if question.meta().description %}
		    		{{ anchor(question.url, question.meta().description) }}
	    		{% else %}
		    		{{ anchor(question.url, question.title) }}
	    		{% endif %}
	    	</td>
	    	<td>
	    		{% if question.answers().exists() %}
	    			&check;
	    		{% endif %}
	    	</td>
	    </tr>
	{% endfor %}
	</table>

{% endblock %}