{% extends _layout %}

{% block content %}
	
	<h4>Review Isian Form Anda</h4>	
	<div class="clearfix"></div>
	<ol>
	{% for question in group.questions().get() %}
		<li>
			{% if question.answers().exists() %}
				&check;
			{% else %}
				&cross;
			{% endif %}

			{% if question.meta().description %}
				{{ anchor(question.url, question.meta().description) }}
			{% else %}
				{{ anchor(question.url, question.title) }}
			{% endif %}

		</li>
	{% endfor %}
	</ol>

{% endblock %}